* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
}

/* .border {
  border: 1px solid green;
} */

.flex {
  display: flex;
  flex-direction: row;
}

.navbar {
  padding: 5px 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 3;
  position: sticky;
  top: 0;
  background: white;
}

.container {
  position: relative;
  align-items: center;
  /* height: 5rem; */
  /* margin: 1.25rem 8rem; */
  font-weight: 500;
}

.left {
  margin-left: 0rem;
}

.left img {
  height: 7vw;
}

.right {
  position: absolute;
  right: 0;
  align-items: center;
  font-size: 1.5vw;
}

.right li {
  list-style: none;
  margin: 0 3vw;
  cursor: pointer;
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.right li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e15f97;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.right li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#services {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  background: white;
  padding: 10px;
  font-weight: 400;
  font-size: 1.2vw;
  width: 10vw;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#services:hover .dropdown {
  display: block;
  transition: all 0.25s ease-in-out;
}

.dropdown div {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.dropdown div:hover {
  background-color: #e15f97;
  color: white;
  transition: all 0.25s ease-in-out;
  border-radius: 5px;
}

#aboutContent {
  height: 57vw;
  min-width: 45vw;
  position: fixed;
  width: 30px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 4vw 4.2vw;
  border-radius: 5px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  font-size: 2vw;
}
#work {
  height: 70%;
  min-width: 60%;
  position: fixed;
  width: 30px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 4vw 4.2vw;
  border-radius: 5px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  font-size: 2vw;
}

#locate {
  height: 52vw;
  min-width: 55vw;
  position: fixed;
  width: 30px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 4vw 4.2vw;
  border-radius: 5px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  font-size: 2vw;
}

.aboutInsideContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85%;
  margin: 3vw 0px;
  font-size: 2.2vw;
}

#contactContent {
  height: 70%;
  min-width: 60%;
  position: fixed;
  width: 30px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 3vw 4vw;
  border-radius: 5px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  font-size: 1.6vw;
  overflow-y: scroll;
}
#admina {
  height: 53vw;
  min-width: 47vw;
  position: fixed;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 1vw;
  border-radius: 5px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  font-size: 1vw;
  width: 3vw;
}
.contactInsideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  /* border: 1px solid black; */
  margin: 20px 0;
}

#supportContent {
  height: 70%;
  min-width: 50%;
  position: fixed;
  width: 30px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 2%;
  border-radius: 5px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  font-size: 80%;
  overflow-y: scroll;
}

.supportInsideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  /* border: 1px solid black; */
  margin: 20px 0;
}

#supportImg {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}

#aboutContent.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-in-out;
}

#work.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-in-out;
}

#locate.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-in-out;
}

#supportContent.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-in-out;
}

#contactContent.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-in-out;
}

#admina.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-in-out;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px;
  cursor: pointer;
  opacity: 0.5;
}

.closeBtn:hover {
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

#overlay.active {
  display: block;
  pointer-events: all;
}

.container2 {
  background-color: #FFF;
  background-image: url("../pic/kkk.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:bottom ;
  background-size: contain;
  position: relative;
  margin: 7vw 0vw;
}

.content1 {
  display: flex;
  align-items: center;
  margin: 0 10vw;
  position: relative;
  overflow: hidden;
}

.hospitalImage {
  position: absolute;
  right: 0;
}

.slogan {
  width: 45%;
  font-size: 1vw;
  color: #860e40;
  /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
}

.btn button {
  padding: 1vw;
  border-radius: 5px;
  border: 2px solid rgb(134, 14, 64);
  cursor: pointer;
  font-weight: 500;
  color: rgb(134, 14, 64);
  margin-top: 2vw;
  background: none;
  font-size: 1.3vw;
}

.btn button:hover {
  background-color: #860e40;
  color: rgb(255, 255, 255);
  transition: all 0.25s ease;
}

.connect button {
  padding: 0.9vw 2.5vw;
  border-radius: 30px;
  border: 2px solid #380bdb;
  cursor: pointer;
  font-weight: 500;
  color: #380bdb;
  margin-top: 2%;
  background: none;
  font-size: 99%;
}

.connect button:hover {
  background-color: #380bdb;
  color: rgb(255, 255, 255);
  transition: all 0.25s ease;
}

.container3 {
  display: flex;
  justify-content: center;
  height: 40vw;
  flex-direction: column;
  align-items: center;
  margin: 4vw 0;
  font-size: 1.6vw;
}

.container3 p {
  width: 65%;
  text-align: center;
  margin: 10px 0;
}

.container4 {
  background: rgb(38, 34, 33);
  height: 69vw;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  padding: 3vw 13vw;
  gap: 6vw;
  position: absolute;
  overflow-x: scroll;
}

.container4 .minicontainer {
  /* display: block; */
  height: 25vw;
  background: #887F77;
  width: 33vw;
  padding: 5vw;
  border-radius: 4vw;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  grid-column: 1/4;
  font-size: 1.6vw;
}

.container4 .minicontainer:hover {
  box-shadow: rgb(253, 254, 255) 0px 20px 30px -10px;
  transition: all 0.25s ease-in-out;
}

/* .rowmar {
  margin-top: -1rem;
} */

.container4 .minicontainer h3,
i {
  padding: 10px 0;
  text-transform: uppercase;
}

#theSwitch {
  right: 15px;
  position: absolute;
  display: flex;
  top: 25px;
}

/* Remove this container when use*/
.component-title {
  /* width: 100%; */
  position: relative;
  /* z-index: 999;
  left: 0;
  padding: 0;*/
  margin: 0 5px;
  top: 0.5rem;
  font-size: 10px;
  text-align: center;
  right: 0;
  font-weight: 700;
  color: #888;
  /* text-align: center; */
}

/* The switch - the box around the slider */
.switchContainer {
  width: 51px;
  height: 31px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: #34c759;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}
.add-place-form label {
  display: block;
  margin-bottom: 8px;
}

.add-place-form input,
.add-place-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.add-place-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-place-form button:hover {
  background-color: #45a049;
}